<h1>All available products in Susah.my:</h1>
	<table>
		<% @product.each do |product| %>
			<tr>
				<td>
					<p>Name: <%= product.name %></p>
					<p>Description: <%= product.description %></p>
					<p>Price: <%= product.price %></p>
					<p>Posted by: <%= product.user.email %></p>

					<% if product.user_id.find_by(user_id: session['user_id']) %>
					    <form method="post" action="/questions/<%= question.id %>/vote/<%=question.question_votes.find_by(user_id: session['user_id']).id%>">
					    	<input type="hidden" name="_method" value="delete">
					    	<input class="myButton" type="submit" value="Edit">
					    </form>
					    <% end%>
					---------------------------------------------
				</td>
			</tr>
			<% end %>
	</table>