<h1>All available products in Susah.my:</h1>
	<table>
		<% @product.each do |product| %>
			<tr>
				<td>
					<p>Name: <%= product.name %></p>
					<p>Description: <%= product.description %></p>
					<p>Price: <%= product.price %></p>
					<p>Posted by: <%= product.user.email %></p>
				    <form method="get" action="/<%= product.id %>/edit">
				    	<input class="myButton" type="submit" value="Edit">
				    </form>
				    <form method="post" action="/product/<%= product.id %>/delete">
				    	<input type="hidden" name="_method" value="delete">
				    	<input class="myButton" type="submit" value="Delete">
				    </form>
				    <form method="post" action="/product/<%= product.id %>/favourite">
				    	<input class="myButton" type="submit" value="Add to favourite">
				    </form>
					---------------------------------------------
				</td>
			</tr>
			<% end %>
	</table>